manifests/*
packer_cache
packer/packer_cache
output-qemu-*
console-logs/*
shared/files/openbsd/consul-*.tgz
scripts/*.sh
obsd_dist
*.iso
*.sw?
*.qcow2*
metadata/*.xml
*.zip
*.iso.lock
*.run
images/*
base-image/*
dterm-image/*
*/image
*/image.xz
vendor/no-redist/*
packer-cache/*
**/*cache*
*uuids.json
packer-manifest.json
crash.log
.vscode
