ephemeral/http/autoinstall.conf
ephemeral/http/packer.ipxe
ephemeral/install-key
ephemeral/install-key.pub
ephemeral/intall-key.pub
ephemeral/tftp/random.seed
manifests/*
output-qemu
packer_cache
tftp_files/bsd
tftp_files/pxeboot.0
*.iso
*.sw?
