# switches are such stupid things.
Host *-switch-*
  ControlMaster no
Host *
  ControlMaster auto
  ControlPath %d/.ssh/%r@%h:%p.cm
  ControlPersist 1h
Host github.com
  IdentitiesOnly yes
  IdentityFile %d/.ssh/github.com.id
  User git
Host *
  ForwardX11Trusted no
  ForwardX11 no
  ServerAliveInterval 180
  ServerAliveCountMax 3
