# this is first because this host should *never* exist.
Host pass
  HostName git-codecommit.us-east-1.amazonaws.com
  User APKA5T3S5KGHTAUE2K6J
  ControlMaster no
# switches are such stupid things.
Host *-switch-*
# OpenSSH 4.0
  ControlMaster no
Host *
  ControlMaster auto
# OpenSSH 4.2
  ControlPath ~/.ssh/%r@%h:%p.cm
# OpenSSH 5.6
  ControlPersist 1h
Host github.com
  IdentitiesOnly yes
  IdentityFile ~/.ssh/github.com.id
  User git
Host *
  ForwardX11Trusted no
  ForwardX11 no
  ServerAliveInterval 180
  ServerAliveCountMax 3
